/** @format */

body {
	color: var(--bs-body-color) !important;
	background-color: var(--bs-body-bg) !important;
}
.bd-mode-toggle .bi {
	width: 1em;
	height: 1em;
}
.bi {
	vertical-align: -0.125em;
	fill: currentColor;
}
